

:root{--debug: 1px solid red}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.bg-img {
    position: absolute;
    width: 40%;
    height: 100%;
}

.bg-img-xs {
    display: none;
}

.container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 800px;
    display: flex;
}